//Шрифты
%fz-sans-sb{
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: 600;
    color: #5A5A5A;
}

%fz-sans-reg{
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
    color: #A1A1A1;
}

%fz-mont-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #363838;
}

/// шрифты end

